*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.flex {
    align-items: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.heading {
    color: white;
    font-family: sans-serif;
    font-weight: bold;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-size: 40px;
}

body {
    min-height: 100vh;
    width: 100%;
    position: relative;
    background: rgb(21, 17, 29);
}

.mouse {
    position: absolute;
    height: 20px;
    width: 20px;
    z-index: 2;
    border-radius: 50%;
    display: none;
    background: rgba(44, 183, 238, 0.281);
    box-shadow: 0px 0px 8px 16px rgba(44, 183, 238, 0.185),
        0px 0px 10px 18px rgba(44, 183, 238, 0.082),
        0px 0px 13px 20px rgba(44, 183, 238, 0.048);
}

.container {
    height: 500px;
    width: 500px;
    z-index: 1;
    display: flex;
    background: rgba(21, 17, 29, 0.637);
    align-items: center;
    justify-content: center;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.548), 0 6px 6px rgba(0, 0, 0, 0.63);
}

.snake-divs {
    height: 400px;
    width: 400px;
    display: grid;
    z-index: 3;
    grid-template-columns: repeat(20, 1fr);
    /* gap: px; */
}

.snake-divs .snake-move {
    height: 20px;
    width: 20px;
    background: rgb(37, 37, 37);
    position: relative;
}

.snake-divs .snake-move.food::before {
    content: "";
    position: absolute;
    background: rgb(170, 44, 12);
    height: 13px;
    width: 13px;
    border-radius: 50%;
    box-shadow: 0px 0px 0px 3px rgba(233, 90, 23, 0.603);
    animation: food-spread 0.8s ease-in-out infinite;
}

@keyframes food-spread {

    0%,
    60% {
        height: 10px;
        width: 10px;
    }

    40%,
    100% {
        height: 13px;
        width: 13px;
    }
}

.buttons-game {
    padding: 10px 20px;
    border-radius: 10px;
    outline: none;
    border: none;
    cursor: pointer;
    margin: 0px 10px;
    margin-top: 20px;
    margin-bottom: 6px;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.s-head {
    background: rgb(255, 255, 255) !important;
}

.s-body {
    background: rgb(170, 245, 148) !important;
}

.scores {
    position: absolute;
    z-index: 1;
    right: 15px;
    top: 15px;
    height: 100px;
    background: rgb(13, 13, 27);
    color: rgb(222, 233, 243);
    width: 200px;
    border-radius: 10px;
    gap: 5px;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px,
        rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

.scores .score {
    height: 30px;
    padding: auto;
    text-transform: uppercase;
    font-family: Arial, Helvetica, sans-serif;
}

@media screen and (max-width:768px) {
    .buttons-mob {
        display: block !important;
    }
}

.buttons-mob {
    height: 120px;
    width: 120px;
    display: none;
}

.buttons-mob button {
    height: 25px;
    background: rgb(25, 24, 49);
    color: #fff;
    width: 30px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
}

.buttons-mob>div {
    height: 30px;
    width: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.buttons-mob>div.row2 {
    justify-content: space-around;
}